* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.halaman {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    padding: 10px;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 30px;
    border: solid;
    border-color: green;
    border-radius: 10px;
    text-decoration: none;
}

.halaman span,
a:link,
a:visited {
    padding: 5px;
    display: block;
    color: black;
    text-decoration: none;
    width: 120px;
}

.halaman a:hover {
    background-color: green;
    transition: background-color 0.3s;
}

.isi {
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
}

.rangkuman h1 {
    text-align: center;
    margin: 20px;
}

.rangkuman p {
    text-align: justify;
}

.rangkuman {
    color: black;
    background-color: white;
    margin: auto;
    width: 45%;
    border: outset;
    padding: 0px 60px 15px 60px;
    border-radius: 20px;
}

.dropdown {
    display: none;
}

/* INI NAVBAR */

nav {
    display: none;
    transition: 0.5s;
}

input[type='checkbox']{
    appearance: none;
    -webkit-appearance: none;
}

label {
    appearance: none;
    -webkit-appearance: none;
}

ul{
    list-style: none;
    display: flex;
}

.bullet {
    list-style: square;
}


.active {
    background-color: green;
    cursor: unset;
}

/* AKHIR NAVBAR */

#myBtn {
    display: none;
}

/* Awal pengaturan untuk Text dan Gambar Isi Rangkuman */
#gambar {
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

#gambarkanan {
    float: right;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gambarkiri {
    float: left;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#paragraf {
    text-indent: 30px;
}


#list{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

#list2{
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

h2 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    color: rgb(41, 37, 37);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#pertemuan{
    display: block;
    height: 75px;
}

/* Akhir pengaturan untuk Text dan Gambar Isi Rangkuman */

@media screen and (max-width:720px) {

    .rangkuman {
        width: 100%;
        padding: 0px 15px 15px 15px;
    }

    .isi-rangkuman h1 {
        font-size: 24px;
    }

    .halaman {
        display: none;
        font-weight: bold;
    }

    nav {
        display: block;
    }

    nav ul{
        font-size: 1.2em;
        flex-direction: column;
        background-color: white;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0.5em;
    }

    input[type="checkbox"]:not(:checked)~ul {
        display: none;
    }

    label {
        background-color: green;
        text-align: center;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
    }

    #myBtn {
        display: block;
        position: fixed;
        /* Fixed/sticky position */
        bottom: 20px;
        /* Place the button at the bottom of the page */
        right: 30px;
        /* Place the button 30px from the right */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background-color: grey;
        /* Set a background color */
        color: white;
        /* Text color */
        padding: 13px;
        /* Some padding */
        border-radius: 10px;
        /* Rounded corners */
        font-size: 18px;
        /* Increase font size */
    }

    #gambar {
        width: 100%;

    }

}
